doctype
html
  head
    meta(charset="utf-8")
    title Jasmine

    link(rel="shortcut icon" type="image/png" href="jasmine_favicon.png")
    link(rel="stylesheet" type="text/css" href="jasmine.css")

    script(type="text/javascript" src="jasmine.js")
    script(type="text/javascript" src="jasmine-html.js")
    script(type="text/javascript" src="boot.js")

    script(type="text/javascript" src="../chord-viewer.spec.js")

  body
